<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Biograf&iacute;as</title>
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet" href="css/style.css?v=2">

<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<div id="container">
		<header>biograf&iacute;a</header>
		<div id="main" role="main">
			<p><div class="bio-name">Leo Álvarez</div>, fotógrafa Mariana Green, graduado de Leyes en
				1985, en la Universidad Católica Andres Bello de Caracas y dedicado
				por completo a la fotografía desde el año 2003. Desde entonces
				realiza un ambicioso trabajo documental Venezolanas, inspirado en la
				corriente latinoamericana del realismo mágico, concibiendo un
				documentalismo sin intervención del fotógrafo y en el cual la
				objetividad consiste en realizar imágenes que con honestidad
				coincidan con la subjetiva mirada de su autor y con la idea que del
				motivo se haya formado sin pretender entenderla como un reflejo de
				la realidad sino el reflejo de la percepción de esa realidad. Ha
				realizado muchos ensayos documentales entre los cuales destacan
				“sobrevivientes“ del poblado de Carmen de Uria en el Estado Vargas,
				del cual se extrajo la imagen ganadora del Segundo Salón de Arte

				Dycvensa; “Sobremarcha” acerca de los conflictos y la violencia
				política en las calles de Caracas, que le valió la mención
				honorifica de la II bienal Latinoamericana de fotografía Josune
				Dorronsoro del Museo de Bellas Artes trabajo posteriormente
				seleccionado para ser exhibido en el Musee Pavillion Vandome de Aix
				en Provence, Francia, en el marco de Photo Aix 2004; reconocimientos
				el 2do Premio del “III Certámen Mayor de las Artes” con “Gioconda en

				la torre”, Galería de Arte Nacional (GAN), Caracas febrero 2008;
				el1er Premio “Henrique Avril” 6ta Bienal Nacional de Fotografía,
				Galería Municipal de Arte de Maracay, con “ Conspiración en las
				Cumararguas” diciembre 2006; y el 3 er premio Internacional de
				Fotografía Alejandro Otero, Caracas, agosto 2006. Ha participado en
				varios salones de arte entre los que destacan la bienal de
				fotografía Daniela Chapard MBA 2003, Salón Aragua, ediciones 28 y
				31,; Salon Michelena edición 61, -"Décimo Salón de Fotografía
				Documental los trabajos y los días” en Colombia en sus ediciones
				10ª. Y 13ª, entre otros.Complementa su trabajo autoral con el
				ejercicio de la docencia fotográfica en la escuela en la que se

				formó, Roberto Mata Taller de Fotografía, donde desde el año 2003
				dicta la cátedra de documentalismo, director de proyectos en el
				mismo hasta el año 2007, y profesor de fotografía digital I y II
				hasta el año 2007, Associated Press desde el año 2003 hasta el 2006,
				cubriendo conflictos políticos de las calles de Caracas.

				comercialmente la fotografía al lado de su esposa, en el campo
				publicitario, de retratos, moda y sociales. Colaborador en varias
				revistas venezolanas y en diversas instituciones venezolanas y del
				exterior. 1963, Venezolano, padre de dos hijos, casado con su socia
				la en poblados de las costas “Futura” y “Camino separado”, entre
				otros. Cuenta entre otros I Bienal de Museo Alejandro Otero, “…en la
				cuerda floja”, Museo trabajó como fotógrafo stringer para la

				Fundador de AlvarezGreen Fotografía, donde trabaja</p>
		</div>
		<footer></footer>
	</div>

	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>